@media only screen and (max-width: 1299px) {
  header nav {
    padding: 1.5rem 0;
  }
  header nav ul {
    width: 60%;
  }
  main #HOME.section .text-home {
    padding-left: 1rem;
  }
  main #HOME.section .text-home h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  main #HOME.section .text-home P {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #HOME1.section P {
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 0 13rem;
  }
  main #HOME1.section .bg .card .text P {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #PRODUCT.section .prom-text P,
  main #PRODUCT1.section .prom-text P {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #PRODUCT.section .prom-text,
  main #PRODUCT1.section .prom-text {
    width: 35%;
  }
  main #PROM.section p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #PROM.section .prom-box .circle p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #PRICE.section #my-package1 .item .price-box p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #ABOUT.section .about p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
  main #CONTACT.section p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
@media only screen and (max-width: 992px) {
  header nav ul {
    width: 70%;
  }
  main #HOME.section {
    padding-left: 5rem;
  }
  main #HOME.section .text-home h2 {
    font-size: 3.7rem;
  }
  main #HOME1.section p {
    padding: 0 5rem;
  }
  main #HOME1.section .box-bg .img-bg.bg1 {
    width: 76px;
    top: 5%;
    right: 4%;
  }
  main #HOME1.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 5%;
    right: 25%;
  }
  main #HOME1.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 5%;
    left: 25%;
  }
  main #HOME1.section .box-bg .img-bg.bg4 {
    width: 90px;
    top: 29%;
    left: -2%;
  }
  main #HOME1.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 7%;
    left: 10%;
  }
  main #HOME1.section .box-bg .img-bg.bg6 {
    width: 65px;
    top: 62%;
    right: 1%;
  }
  main #PRODUCT.section .prom-img {
    width: 30%;
  }
  main #PRODUCT1.section .prom-img {
    width: 30%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg1 {
    width: 76px;
    top: 5%;
    right: 4%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 5%;
    right: 25%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 1%;
    left: 30%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg4 {
    width: 90px;
    top: 29%;
    left: -4%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 3%;
    left: 10%;
  }
  main #PRODUCT1.section .box-bg .img-bg.bg6 {
    width: 65px;
    top: 62%;
    right: 1%;
  }
  main #PROM.section p {
    padding: 0 6rem;
  }
  main #PROM.section .prom-box .circle {
    width: 180px;
    height: 180px;
  }
  main #PROM.section .prom-box .circle h4 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  main #PRICE.section .box-bg .img-bg.bg1 {
    width: 76px;
    top: 5%;
    right: 4%;
  }
  main #PRICE.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 5%;
    right: 25%;
  }
  main #PRICE.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 5%;
    left: 25%;
  }
  main #PRICE.section .box-bg .img-bg.bg4 {
    width: 90px;
    top: 29%;
    left: -2%;
  }
  main #PRICE.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 7%;
    left: 10%;
  }
  main #PRICE.section .box-bg .img-bg.bg6 {
    width: 65px;
    top: 62%;
    right: 1%;
  }
  main #ABOUT.section {
    padding: 0rem 5rem;
  }
  main #CONTACT.section p {
    padding: 0 5rem;
  }
  main #CONTACT.section .box-bg .img-bg.bg1 {
    width: 76px;
    top: 5%;
    right: 4%;
  }
  main #CONTACT.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 5%;
    right: 25%;
  }
  main #CONTACT.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 5%;
    left: 25%;
  }
  main #CONTACT.section .box-bg .img-bg.bg4 {
    width: 90px;
    top: 29%;
    left: -2%;
  }
  main #CONTACT.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 7%;
    left: 10%;
  }
  main #CONTACT.section .box-bg .img-bg.bg6 {
    width: 65px;
    top: 62%;
    right: 1%;
  }
}
@media only screen and (max-width: 768px) {
  header nav ul li {
    margin-right: 0.2rem;
    padding: 0.5rem 0.6rem;
  }
  main .btn {
    width: 125px;
    font-size: 0.7rem;
  }
  main #HOME.section {
    padding-left: 3rem;
  }
  main #HOME.section .text-home {
    width: 70%;
  }
  main #HOME.section .text-home h2 {
    font-size: 2.7rem;
    line-height: 3rem;
  }
  main #HOME.section .text-home p {
    margin-bottom: 1rem;
  }
  main #HOME1.section h3 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
  main #HOME1.section p {
    padding: 0 3rem;
    margin-bottom: 1rem;
  }
  main #HOME1.section .box-bg .img-bg.bg1 {
    width: 70px;
    top: 3%;
    right: 5%;
  }
  main #HOME1.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 3%;
    right: 20%;
  }
  main #HOME1.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 3%;
    left: 20%;
  }
  main #HOME1.section .box-bg .img-bg.bg4 {
    width: 70px;
    top: 35%;
    left: -3%;
  }
  main #HOME1.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 5%;
    left: 15%;
  }
  main #HOME1.section .box-bg .img-bg.bg6 {
    width: 60px;
    top: 32%;
    right: 1%;
  }
  main #HOME1.section .box {
    gap: 30px;
  }
  main #HOME1.section .box .card .card-img {
    width: 150px;
  }
  main #HOME1.section .box .card .text h5 {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
  }
  main #HOME1.section .box .card .text p {
    font-size: 1rem;
  }
  main #PRODUCT.section .prom-img,
  main #PRODUCT1.section .prom-img {
    width: 35%;
  }
  main #PRODUCT.section .prom-text h3,
  main #PRODUCT1.section .prom-text h3 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
  main #PRODUCT.section .prom-text p,
  main #PRODUCT1.section .prom-text p {
    margin-bottom: 1rem;
  }
  main #PRODUCT.section .box-bg .img-bg.bg1,
  main #PRODUCT1.section .box-bg .img-bg.bg1 {
    width: 70px;
    top: 3%;
    right: 5%;
  }
  main #PRODUCT.section .box-bg .img-bg.bg2,
  main #PRODUCT1.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 3%;
    right: 20%;
  }
  main #PRODUCT.section .box-bg .img-bg.bg3,
  main #PRODUCT1.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 3%;
    left: 31%;
  }
  main #PRODUCT.section .box-bg .img-bg.bg4,
  main #PRODUCT1.section .box-bg .img-bg.bg4 {
    width: 70px;
    top: 35%;
    left: -5%;
  }
  main #PRODUCT.section .box-bg .img-bg.bg5,
  main #PRODUCT1.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 3%;
    left: 25%;
  }
  main #PRODUCT.section .box-bg .img-bg.bg6,
  main #PRODUCT1.section .box-bg .img-bg.bg6 {
    width: 60px;
    top: 50%;
    right: 1%;
  }
  main #PROM.section h3 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
  main #PROM.section p {
    padding: 0 3rem;
    margin-bottom: 1rem;
  }
  main #PROM.section .prom-box .circle {
    width: 130px;
    height: 130px;
  }
  main #PROM.section .prom-box .circle h4 {
    font-size: 2rem;
    line-height: 2rem;
  }
  main #PRICE.section .box-bg .img-bg.bg1 {
    width: 70px;
    top: 3%;
    right: 5%;
  }
  main #PRICE.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 3%;
    right: 20%;
  }
  main #PRICE.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 3%;
    left: 20%;
  }
  main #PRICE.section .box-bg .img-bg.bg4 {
    width: 70px;
    top: 35%;
    left: -3%;
  }
  main #PRICE.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 5%;
    left: 15%;
  }
  main #PRICE.section .box-bg .img-bg.bg6 {
    width: 60px;
    top: 32%;
    right: 1%;
  }
  main #PRICE.section h3 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
  }
  main #ABOUT.section {
    padding: 0rem 3rem;
  }
  main #ABOUT.section .about h6 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
  main #CONTACT.section {
    height: 60vh;
  }
  main #CONTACT.section h3 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.6rem;
  }
  main #CONTACT.section .input {
    width: 500px;
  }
  main #CONTACT.section .box-bg .img-bg.bg1 {
    width: 70px;
    top: 3%;
    right: 5%;
  }
  main #CONTACT.section .box-bg .img-bg.bg2 {
    width: 50px;
    bottom: 3%;
    right: 20%;
  }
  main #CONTACT.section .box-bg .img-bg.bg3 {
    width: 80px;
    bottom: 3%;
    left: 20%;
  }
  main #CONTACT.section .box-bg .img-bg.bg4 {
    width: 70px;
    top: 35%;
    left: -3%;
  }
  main #CONTACT.section .box-bg .img-bg.bg5 {
    width: 50px;
    top: 5%;
    left: 15%;
  }
  main #CONTACT.section .box-bg .img-bg.bg6 {
    width: 60px;
    top: 32%;
    right: 1%;
  }
  footer .footer-left {
    padding: 2rem;
  }
  footer .footer-left h3 {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 576px) {
  main #HOME.section {
    padding-left: 1rem;
  }
  main #HOME.section .text-home h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  main #HOME.section .text-home P {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}/*# sourceMappingURL=responsive.css.map */